<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="/static/css/text.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <span class="open">
          <img src="/static/img/menu_100px.png" alt="" />
        </span>
        <div class="title">
          <img src="/static/img/twitter.png" alt="" />
          <h1>Your Rooms</h1>
        </div>
        <div class="rooms">
          <a href="#" class="room">Glblcd</a>
          <a href="#" class="room">Glblcd</a>
          <a href="#" class="room">Glblcd</a>
          <a href="#" class="room">Glblcd</a>
          <a href="#" class="room">Glblcd</a>
        </div>
      </div>
      <div class="message">
        <div class="topic"><span>Glblcd </span> Room</div>
        <div class="messages">
          <div class="incomming">ssss</div>
          <div class="incomming">ssss</div>
          <div class="incomming">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
          </div>
          <div class="sending"><p>jost work</p> </div>
          
          
        </div>
        <div class="input">
          <form method="post">
            <input type="text" placeholder="Enter your message..." class="mess">
            <input type="submit" value="Send" class="send">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
